<div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="First name"
        name="first_name"
        value="{{this.first_name}}"
      />
      <label for="floatingInput">First Name</label>
    </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Last name"
          name="last_name"
          value="{{this.last_name}}"
        />
        <label for="floatingInput">Last Name</label>
      </div>
  </div>
<div class="col-6">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="Email Address"
          name="email"
          value="{{this.email}}"
        />
        <label for="floatingInput">Email address</label>
      </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Phone Number"
          name="phone_number"
          value="{{this.phone_number}}"
        />
        <label for="floatingInput">Phone Number</label>
      </div>
  </div>
  <div class="form-floating mb-3">
    <div class="form-floating mb-3">
        <textarea
          type="text"
          class="form-control"
          id="floatingInput"
          height="200px"
          placeholder="Comments"
          name="comment"
          >{{this.comment}}</textarea>
       <label for="floatingInput">Comment</label> 
      </div>
  </div> 
  